@{
    ViewData["Title"] = "Home Page";
}
    <style type="text/css">
        #graph-container-id {
            margin: 0px auto;
            width: 800px;
            height: 800px;
            border: 1px solid lightgray;
        }
    </style>
    <div class="text-center">
        <form id="findWord-form-id">
            <input required type="url" id="url-id" placeholder="Target site url" />
            <input required type="text" id="word-id" value="" placeholder="Word for find" />
            <input type="submit" id="findWord-submit-id" value="Submit" />
        </form>
        <div id="loader-id" class="spinner-border" role="status" style="display:none">
            <span class="sr-only">Loading...</span>
        </div>
        <div id="graph-container-id"></div>
    </div>

@section Scripts{
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <script>var findUrl = '@Url.Action("Find","Home")'</script>
    <script src="~/js/visOptions.js"></script>
    <script src="~/js/main.js"></script>
}